﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class=" col-sm-4 col-xs-2" style="top:15%;">&nbsp;</div>
<div class="text-center col-sm-4 col-xs-8" style="border:double;top:50px;">
    <h4>Posts</h4>
    <br />
    <form asp-controller="MenuItem" asp-action="Index" method="post">
        <div class="col-sm-8 col-xs-12">
            <select asp-for="TagId" asp-items="@Model.GetByTags()"
                    class="form-group form-control" onchange="this.form.submit();"></select>
        </div>
    </form>
</div>

