﻿/*This would contain the styling for thead layout our profile*/
/* general styling code */
.floatLeft{
    float:left;
}
.floatRight {
    float: right;
}

/* body styling */
body{
    height:100%;
    width:100%;
    overflow:auto;
}

/* Header styling */
header {
    background-color: #55426d;
    height: 62px;
    overflow: hidden;
    padding:0.5%;
}

#logoutActualButton {
    background-color: #f2f2f2;
    border: none;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 110%;
    border-radius: 5px;
    margin:5px 10px 0px 0;
}


#sideBar {
    width: 60px;
    overflow: auto;
    background-color: #725792;
}

.sideBarIcon {
    margin: 40px 0 5px 5px;
}

main{
    overflow:auto;
}