﻿/*This would contain the styling for the post page styling*/


#personIcon{
    position:absolute;
    top:42px;
    left:70px;
}

#plusMakeAPostIcon {
    position: absolute;
    top: 48px;
    right: 5px;
}
