﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <div class="sideBarIcon" id="personIcon"><img src="~/img/icons/personInfoIcon.png" /></div>
    <div class="sideBarIcon floatRight"  id="plusMakeAPostIcon"><img src="~/img/icons/plueMakeAPostIcon.png"/></div>

    @*<div class="mainPostContainer">
        
    </div>*@
</div>

