﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/globalLayout.css" rel="stylesheet" />
    <link href="~/css/postPage.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/img/icons/tabFavIcon.ico" type="image/png" />
    <title> Post </title>
</head>
<body>
    <header>
        <div id="headerLogoImage" class="floatLeft">
            <img src="~/img/icons/pageFaviconLogo.ico" />
        </div>
        <div id="logoutButton" class="floatRight">
            <button id="logoutActualButton">Logout</button>
        </div>
    </header>
    <div id="container">
        <div id="sideBar" class="floatLeft">
            <div class="sideBarIcon" id="gameIcon"><img src="~/img/icons/gamesLogo.png" /></div>
            <div class="sideBarIcon" id="sportsIcon"><img src="~/img/icons/sportsLogo.png" /></div>
            <div class="sideBarIcon" id="movieIcon"><img src="~/img/icons/moviesLogo.png" /></div>
            <div class="sideBarIcon" id="artIcon"><img src="~/img/icons/artsLogo.png" /></div>
            <div class="sideBarIcon" id="musicIcon"><img src="~/img/icons/musicLogo.png" /></div>
        </div>

        <main id="mainBody" class="floatLeft">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/globalLayout.js"></script>
</body>
</html>